NODE_ENV=development
PORT=3100
HOST=0.0.0.0
CORS_ORIGIN=http://localhost:5180,http://127.0.0.1:5180
DATABASE_URL=postgresql://root:root@192.168.1.136:5434/app_template_db?schema=task_engine
REDIS_URL=redis://192.168.1.136:6379
